.top-header-wrapper .top-menu span{
    padding:0 5px;
}
.dropdown-toggle::after {
    display: none;
}
.middle-header-wrapper .header-search{
    border-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width:400px;
}
.middle-header-wrapper .search-category-btn{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color:#F5F5F5 !important;
}